fastapi==0.111.0
uvicorn==0.30.1
langchain==0.3.26
langchain-community==0.3.26
numpy==1.26.4
faiss-cpu==1.7.4
pytesseract==0.3.10
pdf2image==1.16.3
pillow==9.5.0
PyMuPDF==1.26.1
python-multipart==0.0.20
pydantic==2.7.4
pydantic-settings==2.10.1
python-dotenv==1.0.1
openai==1.35.0
httpx==0.27.0
sentence-transformers==2.6.1
torch>=1.13.1
watchfiles==1.1.0
scikit-learn==1.7.0
transformers==4.53.0
rich==14.0.0
tqdm==4.67.1
mypy==1.10.0